/* Basislayout */

/* specifieke stijlen */


/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(245, 250, 171);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
    font-size: 12,5pt;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: black;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #531e1e;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: rgb(95, 170, 199);
}



img.Mandalorian {
    float: left;
    margin-right: 25px;
}

img.gorgu {
    float: left;
    margin-right: 25px;
}

img.CaraDune {
    float: left;
    margin-right: 25px;
}

img.Greef {
    float: left;
    margin-right: 25px;
}

img.Moff {
    float: left;
    margin-right: 25px;
}

img.Boba {
    float: left;
    margin-right: 25px;
}

img.Poster1 {
    float: left;
    margin-right: 25px;
}


img.Chapter1 {
    float: left;
    margin-right: 25px;
}


img.Chapter2 {
    float: left;
    margin-right: 25px;
}


img.Chapter3 {
    float: left;
    margin-right: 25px;
}



img.Chapter4 {
    float: left;
    margin-right: 25px;
}

img.Chapter5 {
    float: left;
    margin-right: 25px;
}


img.Chapter6 {
    float: left;
    margin-right: 25px;
}


img.Chapter7 {
    float: left;
    margin-right: 25px;
}


img.Chapter8 {
    float: left;
    margin-right: 25px;
}


img.Chapter9 {
    float: left;
    margin-right: 25px;
}


img.Chapter10 {
    float: left;
    margin-right: 25px;
}

img.Chapter11 {
    float: left;
    margin-right: 25px;
}

img.Chapter12 {
    float: left;
    margin-right: 25px;
}

img.Chapter13  {
    float: left;
    margin-right: 25px;
}


img.Chapter14 {
    float: left;
    margin-right: 25px;
}
img.Chapter15 {
    float: left;
    margin-right: 25px;
}
img.Chapter16 {
    float: left;
    margin-right: 25px;
}

img.Pedro {
    float: left;
    margin-right: 25px;
}

img.Giancarlo {
    float: left;
    margin-right: 25px;
}
img.Gina {
    float: left;
    margin-right: 25px;
}
img.Carl {
    float: left;
    margin-right: 25px;
}
img.Temuera {
    float: left;
    margin-right: 25px;
}
